@*
    Text page layout.
*@
@inherits UmbracoTemplatePage
@{
    Layout = "_uBlogsyBaseSite.cshtml";
}

@section uBlogsyHead{
     <link type="text/css" rel="Stylesheet" media="screen" href="/css/uBlogsy.css" />

}

@section uBlogsyMain
{
<div class="page_wrapper">
		<section class="container">			
			@Umbraco.RenderMacro("MeetingDisplay")
				
		</section>
	</div>
}