@*
    Landing layout.
*@
@inherits UmbracoTemplatePage
@{
    Layout = "_uBlogsyBaseBlog.cshtml";
}

@section uBlogsyHead{}


@section uBlogsyLeftCol
{
  
    @*list posts*@
 
	  <div class="uBlogsy_content_body">
        @if (Request.QueryString.Count == 0)
        {
            @Umbraco.Field("uBlogsyContentBody")
        }
    </div>
		@Html.CachedPartial("uBlogsy/Landing/uBlogsyLandingListPosts", Model, 0, false, false, new ViewDataDictionary(ViewData) { { "ItemsPerPage", 20 } })		
	
}